<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpeechTemplate</key>
	<dict>
		<key>guesture</key>
		<string>You can single tap to access details of each items, double tap to confirm or right swpie back to home page. </string>
		<key>pageIntro</key>
		<string></string>
	</dict>
</dict>
</plist>
